HASURA_GRAPHQL_DATABASE_URL=postgres://postgres:yourPassword@host.docker.internal:5432/YourDBName
HASURA_GRAPHQL_ENABLE_CONSOLE="true"
HASURA_GRAPHQL_DEV_MODE="true"
HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup, http-log, webhook-log, websocket-log, query-log
HASURA_GRAPHQL_ADMIN_SECRET=myadminsecret
HASURA_GRAPHQL_UNAUTHORIZED_ROLE="anonymous"
