name: Lint
# Lint runs golangci-lint over the entire Desmos repository.
# This workflow is run on every pull request and push to master.
# The `golangci` will pass without running if no *.{go, mod, sum} files have been changed.
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  GolangCI:
    name: golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          SUFFIX_FILTER: |
            .go
            .mod
            .sum
      - uses: golangci/golangci-lint-action@v3.5.0
        with:
          version: v1.51.1
          args: --timeout 10m
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: "env.GIT_DIFF != ''"
